<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>            <string>acswarm</string>
    <key>CFBundleDisplayName</key>     <string>acswarm</string>
    <key>CFBundleIdentifier</key>      <string>com.enknamel.acswarm</string>
    <key>CFBundleVersion</key>         <string>VERSION</string>
    <key>CFBundleShortVersionString</key> <string>VERSION</string>
    <key>CFBundlePackageType</key>     <string>APPL</string>
    <key>CFBundleExecutable</key>      <string>acviewer</string>
    <key>CFBundleIconFile</key>        <string>acswarm</string>
    <key>LSMinimumSystemVersion</key>  <string>12.0</string>
    <key>NSHighResolutionCapable</key> <true/>
    <key>LSApplicationCategoryType</key> <string>public.app-category.games</string>
    <key>NSHumanReadableCopyright</key> <string>GPL-3.0-or-later</string>
</dict>
</plist>
